.home{
  .article{
    text-align: center;

    &__title{
      margin: 20px 0 15px;
      position: relative;

      &__link{
        display: inline-block;
        color: #303133;
        border-bottom: 2px solid transparent;
        line-height: 1.4;
        vertical-align: top; 
        font-size: 20px;
        cursor: pointer;
        transition: border-color .4s ease;
      &:hover{
        border-color: #303133;
      }
      } 
    }
    &__nav{
      margin: 3px 0 60px 0;

      span{
        color: #909399;
        display: inline-block;
        padding: 0 15px;
        border-left: 1px solid #909399;
        font-size: 12px;

        &:first-child{
          border-left: none;
        }
      }
    }
    &__abstract{
      color: #606266;
      text-align: left;
      line-height: 2;
      font-size: 16px;
      text-indent: 24px;
    }
    &__more{
      margin-top: 40px;
      
      &__button{
        display: inline-block;
        padding: 0 20px;
        font-size: 14px;
        color: #fff;
        background: #222;
        border: 2px solid #222;
        text-decoration: none;
        border-radius: 0;
        transition-property: background-color;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        line-height: 2;
        cursor: pointer;

        &:hover{
          border-color: #222;
          color: #222;
          background: #fff;
        }
      }
    }
    &__line{
      display: block;
      margin: 80px auto 60px;
      width: 8%;
      height: 1px;
      background: #ccc;
      text-align: center;
    }
  }
  .pager{
    text-align: center;
    .el-pagination .btn-next, .el-pagination .btn-prev,
    .el-pager li{
      background-color: transparent;
    }
  }
}

@media (max-width: 767px){
  .home{
    margin: 0 20px;
  }
}