.g-mr20{
  margin-right: 20px;
}

.g-ml20{
  margin-right: 20px;
}

.g-mt20{
  margin-top: 20px;
}

.g-mb20{
  margin-bottom: 20px;
}

.g-mb10{
  margin-bottom: 10px;
}

.g-pt40{
  padding-top: 40px;
}

.g-pt60{
  padding-top: 60px;
}

/* @mixin命令，定义代码块 */
@mixin flex {
  display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box; /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox; /* 混合版本语法: IE 10 */
  display: -webkit-flex; /* 新版本语法: Chrome 21+ */
  display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
}

@mixin flex-vertical{
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;   
}

@mixin flex-item{
  -webkit-box-flex: 1.0;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.g-flex{
  @include flex;
}
.g-flex--wrap{
  @include flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* 列表样式 */
.list-item{
  @at-root #{&}__icon{
    color: #8492a6;
    font-size: 2em;
    display: table-cell;
    margin: 0;
    padding-top: .07142857em;
    padding-right: .28571429em;
    vertical-align: top;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
  }
  @at-root #{&}__ct{
    display: table-cell;
    padding: 0 0 0 .5em;
    vertical-align: top;
    line-height: 1.14285714em;
  }
  @at-root #{&}__header{
    display: block;
    cursor: pointer;
    color: #4183c4;
  }
  @at-root #{&}__description{
    display: block;
    color: rgba(0,0,0,.7);
  }
}

/* 悬浮按钮样式 */
.btn-floating{
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  background-color: #666;
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;
  vertical-align: middle;
  transition: .2s ease-out;
  -webkit-transition: .2s ease-out;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;

  &:hover,
  &:active{
    animation-name: jello;
    -webkit-animation-name: jello;
  }
  .iconfont{
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 40px;
  }
}

/* 卡片样式 */
.card{
    cursor: pointer;
    margin-top: 10px;
    padding: 18px 10px;
    background-color: #fff;

  @at-root #{&}__header{
    font-size: 18px;
    line-height: 24px;
  }

  @at-root #{&}__meta{
    margin-bottom: 12px;
    padding: 10px 0;
    border-bottom: 1px dashed #DDD;
    color: #AAA;

    @at-root #{&}__author{

      &:after{
        content: "-";
        margin-left: 8px;
        margin-right: 8px;
      }
    }      
  }

  @at-root #{&}__abstract{
    line-height: 22px;
    color: #666;
    font-size: 14px;
  }
}

@media (min-width: 768px){
  .card{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(50% - 10px);
    border: 2px solid #fff;

    &:nth-child(2n+0){
      margin-left: 20px;
    }
  } 
}

