@font-face {
  font-family: 'iconfont';  /* project id 300765 */
  src: url('//at.alicdn.com/t/font_wo6ecl5xpcdkuik9.eot');
  src: url('//at.alicdn.com/t/font_wo6ecl5xpcdkuik9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_wo6ecl5xpcdkuik9.woff') format('woff'),
  url('//at.alicdn.com/t/font_wo6ecl5xpcdkuik9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_wo6ecl5xpcdkuik9.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-size:12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

