.edit{
   // @at-root #{&} 
   // 
  @at-root #{&}__title{

   .el-input__inner{
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #e5e5e5;
      border-radius: 0;

      &:focus{
        border-color: #666;
      }
   } 
  }

   @at-root #{&}__tag{

      .el-tag:not(:last-child){
        margin-right: 20px;
        margin-bottom: 20px;
      }
   }

  @at-root #{&}__add-tag{
    cursor: pointer;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;

    &:active,
    &:hover{
      animation-name: jello;
      -wekbit-animation-name: jello;
    }
  }

    @at-root #{&}__add{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
    background-color: #f4f4f5;

      @at-root #{&}__header{
        height: 40px;
        line-height: 40px;
        background-color: #bfcbd9;

        .el-button{
          background-color: transparent;
          border: none;
          transition: transform .2s ease-out;
          -webkit-transition: transform .2s ease-out;

          &:active,
          &:hover{
            transform: translateX(-10px);
            -webkit-transform: translateX(-10px);
          }
        }

      }
      @at-root #{&}__form{
        max-width: 640px;
        margin: auto;
        padding: 20px;
        
        .iconfont{
          display: block;
          width: 24px;
          height: 24px;
          font-size: 24px;
          color: #bfcbd9;
          margin: auto;
        }
        .el-button{
          position: absolute;
          bottom: 0;
          width: 100%;
          border-radius: 0;
          left: 0;
          background-color: #bfcbd9;
          border: none;

          &:active,
          &:hover{
            opacity: .8;
          }
        }
      }
    }
    @at-root #{&}__action{
      max-width: 640px;
      margin: 20px auto;

      .iconfont{
        font-size: 22px;
      }
      .el-col{
        color: #5e6d82;
        text-align: center;
        cursor: pointer;
      }
    }
}

@media (max-width: 768px) {
  .edit{
    padding-left: 10px;
    padding-right: 10px;
  } 
}