.edit{
   // @at-root #{&} 
   // 
  @at-root #{&}__title{

   .el-input__inner{
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #e5e5e5;
      border-radius: 0;

      &:focus{
        border-color: #666;
      }
   } 
  }

   @at-root #{&}__tag{

      .el-tag:not(:last-child){
        margin-right: 20px;
        margin-bottom: 20px;
      }
   }

  @at-root #{&}__add-tag{
    cursor: pointer;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;

    &:active,
    &:hover{
      animation-name: jello;
      -wekbit-animation-name: jello;
    }
  }

    @at-root #{&}__add{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
    background-color: #f4f4f5;

      @at-root #{&}__header{
        height: 40px;
        line-height: 40px;
        background-color: #bfcbd9;

        .el-button{
          background-color: transparent;
          border: none;
          transition: transform .2s ease-out;
          -webkit-transition: transform .2s ease-out;

          &:active,
          &:hover{
            transform: translateX(-10px);
            -webkit-transform: translateX(-10px);
          }
        }

      }
      @at-root #{&}__form{
        max-width: 640px;
        margin: auto;
        padding: 20px;
        
        .iconfont{
          display: block;
          width: 24px;
          height: 24px;
          font-size: 24px;
          color: #bfcbd9;
          margin: auto;
        }

        @at-root #{&}__sub{
          position: absolute;
          bottom: 0;
          width: 100%;
          border-radius: 0;
          left: 0;
          background-color: #bfcbd9;
          border: none;

          &:active,
          &:hover{
            opacity: .8;
            background-color: #8492A6;
            border: none;
          }
        }
    }
    @at-root #{&}__action{
      max-width: 640px;
      margin: 20px auto;

      .iconfont{
        font-size: 22px;
      }
      .el-col{
        color: #5e6d82;
        text-align: center;
        cursor: pointer;
      }
    }
  }

  .btn-floating{
    background-color: #8391a5;
  }
}

.el-checkbox{
  @at-root #{&}__inner{
    &:hover,
    &:active{
      border-color: #ccc; 
    }
  }

  @at-root #{&}__input{
    &.is-checked{
     .el-checkbox__inner{
        background-color: #bfcbd9;
        border-color: #ccc; 
      }
    }
  }

  &:not(:last-child){
    margin-left: 0;
    margin-right: 16px;
    margin-bottom: 10px;
  }
}


@media (max-width: 768px) {
  .edit{
    padding-left: 10px;
    padding-right: 10px;
  } 
}

.preview{

  @at-root #{&}__ct{
    max-width: 700px;
    margin: auto;
    background-color: #fff; 

    .author{
      padding: 24px 24px 0 24px;

      .list-item__icon{
        font-size: 3em;
        margin-right: .3em;
      }
    }

    .article{
      padding: 0 24px;
      color: rgba(0, 0, 0, .6);

      @at-root #{&}__title{
        font-weight: 700;
        font-size: 2rem;
        padding: .27rem 0;
        line-height: 1.3;
        margin: .67em 0;
      }
      @at-root #{&}__tags{
        margin: 2.7rem 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }
      @at-root #{&}__tag{
        position: relative;
      }
      @at-root #{&}__tag-link{
        cursor: pointer;
        display: block;
        background-color: #f1f1f1;
        border: none;
        color: #666;
        padding: .7rem 1rem;
        border-radius: 2px;
        margin-right: .6rem;
        margin-bottom: .6rem;
        line-height: 1.5;
      }
     @at-root #{&}__info-mobile{
      display: none;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: .6rem 0 1.6rem;
      font-size: 1.2rem;
     }
    }
  }
}

.tag{
  @at-root #{&}__action{
      position: fixed;
      right: 20px;
      bottom: 20px;
      z-index: 10;
  }
}

.g-ml10{
  margin-left: 10px;
}

@media (max-width: 700px){
  .preview__ct{

    .author .list-item{
      display: none;
    }
    .article__title{
      font-size: 2rem;
      padding: 0 0 .2rem;
    }
    .article__info-mobile{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
}

// hightlight.js
/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.hljs {
  display: block;
  background: white;
  padding: 0.5em;
  color: #333333;
  overflow-x: auto;
}

.hljs-comment,
.hljs-meta {
  color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}

.hljs-section,
.hljs-name {
  color: #63a35c;
}

.hljs-tag {
  color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3;
}

.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.hljs-link {
  text-decoration: underline;
}