.tag{
  padding-left: 20px;
  padding-right: 20px;

  .list-item{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 2px #ccc;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;   

    @at-root #{&}__ct{
      -webkit-box-flex: 1.0;
      -moz-flex-grow: 1;
      -webkit-flex-grow: 1;
      flex-grow: 1;
    }
    .el-checkbox__inner{
      border-radius: 50%;
    }

    /*
      checkbox
    */
    .checkbox{
      @at-root #{&}__checked{
        color: #4183c4!important;
      }
      .iconfont{
        font-size: 18px;
        color: #8492a6;
      }  
    }

    &:not(:last-child){
      margin-bottom: 12px;
    }
  }

  @at-root #{&}__action{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;

    .btn-floating{
      display: block;
    }
  }
  @at-root #{&}__del{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    
    @at-root #{&}__ct{
      max-width: 960px;
      margin: auto;
    }
    .el-button{
      background-color: transparent;
      border: none;
      color: #666;

      &:active,
      &:hover{
        background-color: #ECECEC;
        border-radius: 0;
      }
    }
    .f-txt-right{
      text-align: right;
    }
  }

  @at-root #{&}__add{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
    background-color: #f4f4f5;

      @at-root #{&}__header{
        height: 40px;
        line-height: 40px;
        background-color: #bfcbd9;

        .el-button{
          background-color: transparent;
          border: none;
          transition: transform .2s ease-out;
          -webkit-transition: transform .2s ease-out;

          &:active,
          &:hover{
            transform: translateX(-10px);
            -webkit-transform: translateX(-10px);
          }
        }

      }
      @at-root #{&}__form{
        max-width: 640px;
        margin: auto;
        padding: 20px;
        
        .iconfont{
          display: block;
          width: 24px;
          height: 24px;
          font-size: 24px;
          color: #bfcbd9;
          margin: auto;
        }
        .el-row{
          display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
          display: -moz-box; /* 老版本语法: Firefox (buggy) */
          display: -ms-flexbox; /* 混合版本语法: IE 10 */
          display: -webkit-flex; /* 新版本语法: Chrome 21+ */
          display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
          -webkit-box-align: center;
          -moz-align-items: center;
          -webkit-align-items: center;
          align-items: center;   
          border-bottom: 1px solid #d9d9d9;
        }

        .el-input input{
          border: none;
          background-color: transparent;
        }

        .el-button{
          position: absolute;
          bottom: 0;
          width: 100%;
          border-radius: 0;
          left: 0;
          background-color: #bfcbd9;
          border: none;

          &:active,
          &:hover{
            opacity: .8;
          }
        }
      }
  }

  @at-root #{&}__empty{
    margin: 40px auto;
    text-align: center;
    color: #ccc;

    .iconfont{
      margin: auto;
      font-size: 64px;
      display: block;
      margin-bottom: 10px;
    }
  }
}

