@import "./assets/css/reset.css";
@import "./assets/css/iconfont.css";
@import "./assets/css/base.scss";

/* 
  BEM写法
  @at-root #{&} 
*/

html{
  background-color: #f4f5f5;
  color: #333;
  font-size: 12px;
}

.main-cnt{
  padding-left: 10px;
  padding-right: 10px;
  .user{
    border-bottom: 1px solid #f1f1f1;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;

    @at-root #{&}__head{
      background-color: #fff;
      width: 100%;
      padding: 16px 0;
      text-align: center;
      display: table;

     @at-root #{&}__img{
        display: inline-block;
        width: 100px;
        height: 100px;
        background-color: #ccc;
        border-radius: 50%;
        overflow: hidden;
        vertical-align: middle;
        text-align: center;
     }
    }

    @at-root #{&}__name{
      text-align: center;
      background-color: #fff;

      @at-root #{&}__nick{
        display: inline-block;
        line-height: 24px;
        border-bottom: 1px solid #999;
        margin-bottom: 12px;
        color: #909090;
      } 
    }
    @at-root #{&}__count{
      text-align: center;
      padding: 24px 0;
      background-color: #fff;

      .iconfont{
        color: #666;
        font-weight: 700;
        font-size: 14px;
      } 
      @at-root #{&}__child{
        display: inline-block;
        font-size: 0;
        text-align: center;
        padding-left: 12px;
        padding-right: 12px;

        &:not(:last-child){
          border-right: 1px solid #999;
        }
      } 
      @at-root #{&}__txt{
        font-size: 14px;
        margin-bottom: 6px;
      }       
    }
  }
  .nav{
    background-color: #fff;

   @at-root #{&}__item{
    display: block;
    line-height: 40px;
    text-align: center;
    font-size: 14px;

    &:not(:last-child){
      border-bottom: 1px solid #f1f1f1;
    }
   } 
  }
  .el-collapse{
    border: none;

    .el-collapse-item__wrap{
      background-color: #fff;
    }
  }
    
  /*admin 首页样式 */
  .header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
    color: #909090;
    height: 60px;
    z-index: 10;

    @at-root #{&}__ct{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
      max-width: 960px;
      margin: auto;
    }
    @at-root #{&}__logo{
      font-weight: 700;
      font-size: 16px;
      margin-right: 20px;
    }
    @at-root #{&}__main-nav{
      display: block;
      height: 100%;
      -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
    } 
    @at-root #{&}__navigation{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      height: 100%;
      margin: 0;
      position: relative;
    }
    @at-root #{&}__nav-item{
      color: #71777c;
      padding: 0 20px;
      font-size: 20px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
      transition: transform .2s ease;
      -webkit-transition: -webkit-transform .2s ease;

      &:hover{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
      }
      &:active{
        transform: scale(.8);
        -webkit-transform: scale(.8);
      }
    }
  }
}

.main-cnt--admin{
  padding-top: 60px;
  
  .contents{
    max-width: 960px;
    margin: auto;
  }
}


/*
  移动端样式调整
 */

@media (min-width: 700px) {
  .main-cnt {
    padding: 12px 24px;

    .nav-header{
      display: none;
    }
    .nav{
      display: block!important;
    }
  }
}
@media (max-width: 700px) {
  .main-cnt {
    background-color: #fff;

    .nav-header{
      height: 40px;
      line-height: 40px;
      background-color: #fff;
      border-bottom: 1px solid #f8f8f8;

      @at-root #{&}__title{
        margin-left: 13px;
        margin-right: 30px;
      }

      @at-root #{&}__icon{
        float: right;
        font-weight: 700;
        color: #666;
        margin: 5px;
        padding: 8px;
        width: 14px;
        min-width: 14px;
        height: 14px;
        min-height:14px;
        font-size: 14px;
        transition: transform .2s ease;
        -webkit-transition: transform .2s ease;

        &:active{
          transform: scale(.6);
          -webkit-transform: scale(.6);
        }
      }
    }
    .nav{
      position: fixed;
      width: 100%;
      z-index: 11;
      top: 40px;
      left: 0;
      border-bottom: 1px solid #eee;

      @at-root #{&}__item{
        margin: 0 10px;
        padding: 0 13px;
        text-align: left;
        font-weight: 700;
        font-size: 12px;
        color: #777;
      }

    }
    .contents{
      border-top: 20px solid #f4f5f5;
    }
  }

  /*admin 首页样式*/
  .header{
    @at-root #{&}__ct{
      width: 96%;
    }
  }
}

